.Sticky-Note h4{
  text-align: center;
}

.Sticky-Note{
  border: 2px solid gray;
  height: 250px;
  width: 250px;
  text-align: center;
  font-weight: 600;
  font-size: large;
}

.sticky-note-textarea{
  width: 97%;
  resize: none; /* Disable textarea resizing */
  border: none; /* Hide the textarea border */
  outline: none; /* Hide the textarea outline */
  font-size: inherit; /* Inherit font size */
  line-height: inherit; /* Inherit line height */
}